rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /estagiarios/{id} {
      allow read, write: if signedIn();
    }

    match /agendamentos/{id} {
      allow read, write: if signedIn();
    }
  }
}

